#login, #register {
    .strike-through {
        font-weight: 700;
        font-size: 1.2rem;
    }

    .text-danger {
        display: block;
        margin-top: 0.2rem;
    }

    input {
        color: #000;
    }
}