@import '../../../../sass/variables';
@import '../../../../sass/mixins';

#class-summary {
    text-align: center;
    margin-top: 2rem;

    h1 {
        @include content;
        margin-top: 0.7rem;
        margin-bottom: 1.4rem;
        font-size: 2.85rem;

        @include for-large-desktop {
            font-size: 2.45rem;
            margin-bottom: 1.1rem;
        }

        @include for-phone {
            font-size: 2rem;
            margin-bottom: 0.7rem;
        }

    }

    #content {
        font-size: 1.5rem;
        margin-bottom: 0.4rem;

        @include for-large-desktop {
            font-size: 1.35rem;
        }

        @include for-phone {
            font-size: 1.2rem;
        }
    }

    img {
        border-radius: 50%;
        height: 3.6rem;
        width: 3.6rem;
    }

    #toggle-truncate {
        cursor: pointer;
        text-decoration: underline !important;
        font-size: 1.2rem;
        color: $text-primary;
    }
}