@import '../../../../sass/variables';
@import '../../../../sass/mixins';

#landing {
    background-color: $light;
    padding: 4rem 1.7rem;
    margin-bottom: 4.5rem;
    
    h1 {
        font-size: 4.5rem;
        line-height: 5rem;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: $text-primary;

        @include for-large-desktop {
            font-size: 3.8rem;
            line-height: 3.9rem;
            margin-bottom: 1rem;
        }

        @include for-desktop {
            text-align: center;
            font-size: 4.2rem;
            line-height: 5.5rem;
            margin-bottom: 1.5rem;
        }

        @include for-tablet {
            font-size: 3.5rem;
            line-height: 4.6rem;
        }

        @include for-phone {
            font-size: 2.7rem;
            line-height: 3.8rem;
            margin-bottom: 1rem;
        }
    }

    p {
        font-size: 2.2rem;
        line-height: 2.7rem;
        font-weight: 400;
        font-style: normal;
        color: $text-primary;
        margin-bottom: 3rem;

        @include for-xl-desktop {
            font-size: 2rem;
        }

        @include for-desktop {
            font-size: 2.2rem;
            text-align: center;
            margin-bottom: 3.7rem;
        }

        @include for-tablet {
            font-size: 1.8rem;
        }

        @include for-phone {
            font-size: 1.6rem;
            margin-bottom: 3rem;
        }
    }

    .button-primary, .button-secondary {
        @include for-large-desktop {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    #chef-col{
        @include for-desktop {
            margin-top: 4rem;
        }

        img {
            @include for-desktop {
                width: 60%;
            }
            @include for-tablet {
                width: 70%;
            }
            @include for-phone {
                width: 85%;
            }
        }
        
    }

    .button-primary, .button-secondary {
        padding: 1.4rem 0 1.3rem;
    }

    #landing-btn-row {
        @include for-desktop {
            justify-content: space-around;
        }
    }

    #gotoclasses, #gotocontactus {
        @include for-desktop {
            padding: 1.3rem 0 1.3rem;
        }
    }
    
    #landing-btn-row > .col-md-5:first-child {
        @include for-tablet {
            margin-bottom: 1.5rem;
        }
    }
 }