#add-time-slot {
    .plus {
        color: #008000;
    }

    #add-time-slot-btn {
        text-align: center;
        width: 100%;
    }

    #add-time-slot-btn:hover {
        cursor: pointer;
    }
}