@import '../../../../../sass/mixins';

#preview-blog-posts {
    .col-lg-4 {
        display: flex;
        justify-content: center;
        padding: 1rem;

        @include for-tablet {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    img {
        object-fit: cover;
    }
}