@import '../../sass/variables';
@import '../../sass/mixins';

.button-primary {
    @include button;
    background-color: $primary !important;
    box-shadow: 0px 7px 0px $primary-shadow;
}

.button-primary:hover {
    background-color: $primary-light !important;
    box-shadow: 0px 7px 0px $primary-shadow-light;
    color: #fff !important;
}

.button-secondary {
    @include button;
    background-color: $secondary !important;
    box-shadow: 0px 7px 0px $secondary-shadow;
}

.button-secondary:hover {
    background-color: $secondary-light !important;
    box-shadow: 0px 7px 0px $secondary-shadow-light;
    color: #fff !important;
}