$primary:#2EBBAC;
$primary-shadow: #00B09D;

$primary-light: #47c5b8;
$primary-shadow-light: #02beac;



$secondary: #FA7580;;
$secondary-shadow: #FF5966;

$secondary-light: #ff7a85;
$secondary-shadow-light: #ff6774;


$text-primary: #003D4A;

$booking-step-circle-active:  #003D4A;
$booking-step-cirlce-inactive: #487A85;
$booking-progress-line:  #003D4A;

$light: #F4FFFF;


$section-gap: 8rem;


$input-border: #C7C8C8;

$checkout-border-top: 5px solid #FF5966;
