@import '../../../../sass/variables';
@import '../../../../sass/mixins';

#payment {
    @include for-desktop {
        margin-bottom: 5rem;
    }


    p {
        margin-top: 0.1rem;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    .pay-btn {
        background-color: $text-primary;
        color: #fff;
        border: none;
        width: 100%;
        font-size: 1.3rem;
        height: 3.5rem;
        padding: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #card-element-container {
        background-color: #F5F5F5;
        padding: 0.5rem;
        border-radius: 0.2rem;
        padding-bottom: 0.01rem;

        .form-group {
            padding-top: 2rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: #fff;
            box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
                    inset 0 1px 0 #fff;
            border-radius: 4px;
        }
    }

    .secure-checkout {
        text-align: center;
        margin-bottom: 0.5rem;
        justify-content: center;
        align-items: center;

        h5 {
            font-size: 1.1rem;

            @include for-phone {
                font-size: 0.9rem;
            }
        }
    }
}
